extends ../../_component/layout/template
block cool-config
   -
     var myTitle='Learn to code JavaScript comments for begginers';
     var myDescription='JavaScript comments are easy and fun to learn!';
     var landingPage='JavaScript';
     var activeLink='/javascript/comments';

block awesome-content  
    h1=myTitle
    p=myDescription
    h2 Hiiiiiiiiiii