extends ../../_component/layout/template
block cool-config
   -
     var myTitle='Learn to code HTML Attributes for begginers';
     var myDescription='HTML Attributes are easy and fun to learn!';
     var landingPage='HTML';
     var activeLink='/html/attributes';

block awesome-content  
    h1=myTitle
    p=myDescription
    p(title="This is a tooltip ;)") This paragraph has a tooltip.
    a(href="http://github.com/AndreiSyntax") This link will take you to my GitHub Profile.
    p The next image will have width of 500 and height of 300
    img(src="https://lorempixel.com/200/100" width="500" height="300" alt="this text show when the image is not loading" )