extends ../_component/layout/template
block cool-config
   -
     var myTitle='Learn to code JavaScript for begginers';
     var myDescription='JavaScript is easy and fun to learn!';
     var landingPage='JavaScript';
     var activeLink='';

block awesome-content  
    h1=myTitle
    p=myDescription
    h2 JavaScript Comments
    p JavaScript comments can be used to explain JavaScript code, and to make it more readable.
    h2 JavaScript Variables
    p JavaScript variables are containers for storing data values.
    h2 JavaScript Operators
    p JavaScript operators are used to assign values, compare values, perform arithmetic operations, and more.