extends ../../_component/layout/template
block cool-config
   -
     var myTitle='Learn to code HTML Elements for begginers';
     var myDescription='HTML elements are easy and fun to learn!';
     var landingPage='HTML';
     var activeLink='/html/elements';

block awesome-content  
        h1=myTitle
        p=myDescription
        h1 This is for sure not my first heading, yeap.
        p And this one is not my first paragraph. #[br]and we make use of the break tag and #[span(style="color:green") the "span" tag].
